# Environnements virtuels
.venv/
venv/

# Cache Python
__pycache__/
*.py[cod]

# Variables d'environnement
.env
.env.*

# IDE
.vscode/
.idea/

# Tests / outils Python
.pytest_cache/
.mypy_cache/
.coverage

# OS
.DS_Store
Thumbs.db

data/*.json